
body {
    
    background-attachment: sticky;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
}
.contenedorCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.card{
    background: rgb(203,174,238);
    background: radial-gradient(circle, rgba(203,174,238,1) 0%, rgba(148,233,203,0.989233193277311) 100%);
}
.fotoTapa{
    padding: 3%;
}

/* .boton{
    background-color: #a567f1;
    border-radius: 10%;
    color: white;  
    justify-content: center;
} */
