

.navBar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: radial-gradient(circle, rgba(238,174,202,.5) 0%, rgba(148,187,233,.5) 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky
}
li{

    display: inline-block;
    margin: 2rem;
    cursor: pointer;
}